{% extends "layout.html" %}


{% block scripting %}
<!-- SUPPOSEDLY this allows for input masking, but so fa r I cant get it to work.
<script type="text/javascript" src="{{ url_for('static', filename='masking-input.js') }}" data-autoinit="true"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='masking-input.css') }}"/>
-->


<!-- Flask-SocketIO module import.
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
	integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
	crossorigin="anonymous"></script>
-->


<!-- Client-Side socket handling.
<script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('connect', function() {
        socket.emit('ClientConnection', {data: ""});
	    });</script>
-->

<!-- Submission button page templating. -->
<script type="text/javascript" charset="utf-8">

// Inform the user that their entry has been saved.

function redirectSuccess() {

  // Select everything but the layout from the template.
  const mainBodyDiv = document.getElementById("MainBody");

  // Clear %block content% data from the page.
  mainBodyDiv.innerHTML = "";

  // Create the 'success' view.
  mainBodyDiv.appendChild( document
                           .createElement("h2")
                           .setAttribute("id", "SuccessBanner")
			   .innerHTML = "Success!!";            );
  // PAGE BREAK
  mainBodyDiv.appendChild( document.createElement("br"); );

  // Create the 'home' button.
  mainBodyDiv.appendChild( document
                           .createElement("button")
                           .setAttribute("id", "homeButton")
                           .appendChild( document
                                         .createElement("a")
                                         .setAttribute("href",
                                                       "https://guyyatsu.me")
                                         .innerHTML = "home";
                                                                              );
                                                                                 );
  // PAGE BREAK
  mainBodyDiv.appendChild( document.createElement("br"); );
}


function createSaveButton() {
  // Define a button that allows a way out of the editing loop.
  // --When clicked, this button executes a function that:
  //    -Clears the templating provided by this page.
  //    -Re-Writes the page MainBody with confirmation of acceptance.
  //    -Redirects the visitor back to the top of the domain.

  // Select the section of the page dedicated to our shenanigans.
  const submissionButtonDiv = document.getElementById("SubmissionButtons")

  // Add a 'save' button that returns the redirectSuccess function onClick.
  submissionButtonDiv.appendChild( document
		                   .createElement("button")
                                   .setAttribute("id", "saveButton")
                                   .setAttribute("onclick", "redirectSuccess()")
                                   .innerHTML = "save";                          );
}


function createSubmitButton() {
  // Define a button that allows for re-submission of form data.
  // --Sets itself up to loop indefinitely until the visitor decides
  // they're satisfied with their input.

  // Select the section of the page dedicated to our shenanigans.
  const submissionButtonDiv = document.getElementById("SubmissionButtons")

  // Create a button to update information before saving.
  submissionButtonDiv.appendChild( document
		                   .createElement("button")
                                   .setAttribute("id", "submitButton")
                                   .setAttribute("type", "submit")
                                   .setAttribute("onclick", "UpdateForm()")
                                   .innerHTML = "submit";                   );
}


function UpdateForm() {

  // Let the user know the page is responding.
  document.getElementById("UpdateConfirmation")
	  .innerHTML = "Your submission has been saved; but you may still edit it.";

  // CLEAR the 'SubmisionButtons' div and re-create them.
  document.getElementById("SubmissionButtons")
          .innerHTML = "";

  createSaveButton();
  createSubmitButton();
}
</script>

{% endblock %}


{% block content %}
<!-- Empty until the user first hits submit. -->
<span id="UpdateConfirmation"/></span><br>


<!-- Form for collecting contact information. -->
<form method="post" enctype="multipart/form-data">

  <!--[ BEGIN: INPUT FIELDS ]-->
  <div id="InputFields">

    <!--[ BEGIN: REQUIRED ARGUMENTS ]-->
    <div id="RequiredInputs" class="RequiredInputs">

      <!-- Visitors $NAME -->
      <label for="ContactName">Name:</label><br>
      <input required type="text" id="ContactName"
             name="ContactName" value="{{ name }}"
             placeholder="First Last"><br>


      <!-- Visitors $EMAIL -->
      <label for="Email">Email:</label><br>
      <input required type="email" id="Email"
             value="{{ email }}" name="Email"
             placeholder="YOUsername@YOUR.domain"><br>

    <!--[ END: REQUIRED ARGUMENTS ]-->
    </div>

    <!--[ BEGIN: OPTIONAL ARGUMENTS ]-->
    <!--
    <div id="OptionalInputs" class="OptionalInputs">
    -->

      <!-- Visitors $PHONE -->
      <!--
      <label for="PreferredPhone">Preferred Phone:</label><br>
      <input type="tel" id="PreferredPhone" name="PreferredPhone"
             value="{{ phone }}"
             placeholder="000-000-0000"
             pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"><br>
      -->

      <!-- Visitors $COMPANY -->
      <!--
      <label for="Company">Company:</label><br>
      <input type="text" value="{{ company }}"
             id="Company" name="Company"
             placeholder="Business Factory LTD"><br>
      -->

      <!-- Visitors $WEBSITE -->
      <!--
      <label for="Website">Website:</label><br>
      <input type="url" value="{{ website }}"
             id="Website" name="Website"
             placeholder="https://github.com/guyyatsu.me"><br>
      -->

    <!--[ END: OPTIONAL ARGUMENTS ]-->
    <!--
    </div>
    -->

  <!--[ END: INPUT FIELDS ]-->
  </div>

 
  <!--[ BEGIN: SUBMISSION BUTTON(S) ]-->
  <div id="SubmissionButtons">
    <button id="submitButton" type="submit" onclick="UpdateForm()">submit</button>
  <!--[ END: SUBMISSION BUTTON(S) ]-->
  </div>

</form>

{% endblock %}
